language: cpp
compiler:
  - gcc
  - clang
before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get -qq update
  - sudo apt-get -qq install g++-4.8
  - sudo apt-get -qq install libprotobuf-dev
  - sudo apt-get -qq install protobuf-compiler
install:
  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.8"; fi
before_script:
  - mkdir build
  - cd build
  - cmake ..
script: make && make test
